body {
	background: white url("../images/backgroundflag.png") repeat-x;
	font-family: monospace;
	color: black;
}

h1 {
	color: red;
	
	font-size: 30px;
	text-align: center;
}



#search {
	text-align: center;
}

#space {
	margin-top: 150px;
	
}

#map-image{
	width: 425px;
	height: 200px;
}

.section {
	width: 30%;
	border: 4px solid black;
	border-radius: 10px;
	
	background-color: rgb(255,255,255);
	margin-bottom:30px;
}

#news{

	float:left;
	margin-left: 5%;
}

#monthlyhistory{
	float:left;
	margin-left: 5%
}

#featuredarticle{
	float: right;
	padding:10px;
	margin-right: 15%
}

#sidebar {
	border: 2px solid gray;
	color: gray;
	border-radius: 10px;
	margin-top: 150px;
	width: 15%;
	margin-left: 10px;
	float:left;
	height: 1000px;
}

.indented-links-list {
	list-style-type: none;
	font-size: 12px;
	margin-left: 5px;
}

nav li a:link{
	color: blue;
	text-decoration: none;
}
nav li a:visited{
	color: blue;
	text-decoration: none;
}
nav li a:hover{
	color: blue;
	text-decoration: underline;
}

.main-links-list {
	list-style-type: none;
	font-size: 12px;
}



.section-header{
	text-align: center;
}

.nav-separater {    
    width: 150px;
}

.nav-section-header {
	margin-bottom: 0px;
	margin-left: 30px;
}

.nav-header {
	text-align: center;
}


#putin-vid{
	align-content: center;
}
#mainpage-table {

	margin:auto;
	margin-top: 150px;
}

#mainpage-table td{
	vertical-align: top;
}

#donate-section{
	width: 50%;
	margin: auto;
}

#about-section{
	width: 50%;
	margin: auto;
	padding: 10px;
}

#help-section{
	width: 50%;
	margin: auto;
	padding: 10px;
	height: 250px;
}

#contact-image{
	float: right;
	width: 300px;
}

#donation-form {
	padding: 10px;
}

#no-page-section {
	width: 50%;
	margin: auto;
	padding: 10px;
}

#contact-image-caption{
	float: right;
	font-size: 11px;
}

.contact-page-bold {
	font-weight: bold;
}

#footer {
	margin-left: 40%;
}

#contact-list{
	list-style-type: none;
}



